#untrack folders
.idea/
# Ignore Documentation folder
html/

*/__pycache__/
venv/
pyenv/


experiments/flocking/__pycache__/

experiments/aggregation/__pycache__/

experiments/covid/__pycache__/
